{
  "listenip": "0.0.0.0",
  "listenport": 9117,
  "apikey": "{{JACRED_API_KEY}}",
  "mergeduplicates": true,
  "openstats": true,
  "opensync": true,
  "log": true,
  "syncapi": "https://jr.maxvol.pro",
  "synctrackers": ["rutracker", "rutor", "kinozal", "nnmclub", "megapeer", "bitru", "toloka", "lostfilm", "baibako", "torrentby", "selezen", "animelayer", "anilibria", "anifilm"],
  "disable_trackers": ["hdrezka"],
  "syncsport": false,
  "syncspidr": true,
  "maxreadfile": 200,
  "tracks": false,
  "tracksdelay": 20000,
  "tsuri": ["http://127.0.0.1:8090"],
  "timeStatsUpdate": 30,
  "timeSync": 60,
  "evercache": {
    "enable": false,
    "validHour": 1,
    "maxOpenWriteTask": 200,
    "dropCacheTake": 200
  }
}
